<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia DevHouse</title>
</head>
<body>
    <style>
        body {
            background-color: blueviolet;
        }
        h1{
            font-family: sans-serif;
            color: black;
            font-style: bold;
            font-size: 22px;
        }
    </style>
    <h1>Aqui começamos nossa historia</h1>
</body>
</html>